@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

#login-btn{
  display: block;
  margin: 0 auto;
}
#nav-sec{
  
  background-color: rgb(56, 57, 57) !important;
}
#clgimage{
  width: 20rem;
  display: block;
  margin: 0 auto;
}

#title-font{
  font-family: 'Caveat', cursive;
}
#student-card{
  padding: 1rem;
  place-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 2rem));
  place-items: center;
  gap: 1rem;
}
#addstud-sec{
  display: flex !important;
  flex-direction: column !important;
}